:root {
  --clr-primary-400: hsl(172, 67%, 45%);

  --clr-accent-error: hsl(13, 70%, 61%);
  --clr-accent-active: hsl(172, 61%, 77%);

  --clr-neutral-600: hsl(183, 100%, 15%);
  --clr-neutral-500: hsl(186, 14%, 43%);
  --clr-neutral-400: hsl(184, 14%, 56%);
  --clr-neutral-300: hsl(185, 41%, 84%);
  --clr-neutral-200: hsl(189, 41%, 97%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-base: "Space Mono", sans-serif;

  --fs-300: calc(13 / 16 * 1rem);
  --fs-400: calc(16 / 16 * 1rem);
  --fs-500: calc(20 / 16 * 1rem);
  --fs-600: calc(24 / 16 * 1rem);
  --fs-700: calc(32 / 16 * 1rem);
  --fs-800: calc(48 / 16 * 1rem);

  --fs-large: var(--fs-700);

  --fw-bold: 700;
}

@media (width > 40em) {
  :root {
    --fs-large: var(--fs-800);
  }
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
  width: 100%;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

/* general */
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-500);
  background: var(--clr-neutral-300);
  align-content: center;
  padding-block-start: 3rem;
}

header,
header > *,
main {
  margin-inline: auto;
  max-inline-size: 60em;
}

input {
  text-align: right;
  display: block;
}

/* utilities */
.flow-content > * + * {
  margin-block-start: var(--flow-spacer, 1rem);
}

.flex-center {
  display: flex;
  gap: var(--flex-gap, 1rem);
  align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

/* layout */
.flex-wrapper {
  background: var(--clr-neutral-100);
  border-radius: 1.5rem;
  padding: 2rem;
  margin-block-start: 2.5rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

@media (width > 40em) {
  .flex-wrapper {
    flex-direction: row;
    gap: 3rem;
  }
}

.grid-wrapper {
  --_column-count: 2;

  display: grid;
  gap: var(--grid-gap, 1rem);
  grid-template-columns: repeat(var(--_column-count), 1fr);
}

@media (width > 55em) {
  .grid-wrapper {
    --_column-count: 3;
  }
}

.btn {
  font-size: var(--_input-br, var(--fs-500));
  border: none;
  border-radius: var(--_input-br, 0.3rem);
  padding: 0.5rem;
  background: var(--bg, var(--clr-neutral-600));
  color: var(--fg, var(--clr-neutral-100));
  cursor: pointer;
}

.btn:hover {
  --bg: var(--clr-primary-400);
  --fg: var(--clr-neutral-600);
}

.btn--secondary {
  text-transform: uppercase;
  --bg: var(--clr-primary-400);
  --fg: var(--clr-neutral-600);
}

.btn--secondary:hover {
  --bg: var(--clr-accent-active);
}

/* form styles */

.tip-form {
  --flow-spacer: 2rem;
  --_input-fs: var(--fs-500);
  --_input-br: 0.3rem;
  --_label-space: 0.5rem;

  flex-basis: 25em;
}

.tip-form label:not(.btn),
.tip-form legend {
  display: block;
  font-size: var(--fs-400);
  margin-block-end: var(--_label-space);
}

.tip-form input {
  font-size: var(--_input-fs);
  color: var(--clr-neutral-600);
  background: var(--clr-neutral-200);
  border: 0;
  border-radius: var(--_input-br);
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.tip-form .form-group {
  border: none;
  padding: 0;
  position: relative;
}

.form-group .icon {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

fieldset.form-group label {
  font-size: var(--_input-fs);
  text-align: center;
}

fieldset.form-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

fieldset.form-group input[type="radio"]:checked + .btn {
  --bg: var(--clr-primary-400);
  --fg: var(--clr-neutral-600);
}

input:focus-visible,
.btn:focus-visible,
input[type="radio"]:focus-visible + .btn {
  outline: 2px solid var(--clr-primary-400);
  outline-offset: 2px;
}

.tip-results {
  display: flex;
  flex-direction: column;
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-600);
  padding: 1.5rem;
  border-radius: 1rem;
}

@media (width>40em) {
  .tip-results {
    padding: 2.25rem;
    flex-basis: 30em;
  }
}

.tip-results .flex-center {
  justify-content: space-between;
}

.tip-results span {
  display: block;
  font-size: var(--fs-300);
  color: var(--clr-neutral-400);
}

.tip-results .result {
  font-size: var(--fs-large);
  color: var(--clr-primary-400);
}

.tip-results .btn {
  margin-block-start: 3rem;
}

@media (width>40em) {
  .tip-results .btn {
    margin-block-start: auto;
  }
}

/* FEM styles */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-block-start: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
